@*@model GameStore.Domain.Entities.CompositionOrder*@
@using GameStore.WebUI.Models
@using GameStore.Domain.Entities
@model IEnumerable<CompositionOrder>

@{
    ViewBag.Title = "OrderComposition";
}

<h2>OrderComposition</h2>

