
<div class="navbar navbar-inverse" role="navigation">

    <table>
        <tr>
            <td>
                @using (Html.BeginForm("List", "Game"))
                {
                    <input type="submit"
                           class="btn btn-link btn-lg"
                           value="GameStore" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Admin"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Каталог" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Order"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Заказы" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "SoldGames"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Продажи" />
                }
            </td>
            @*@{if (User.IsInRole("Admin")) { bool flag = true; } }*@
            <td>
                @using (Html.BeginForm("Users", "Admin"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Пользователи" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Roleadmin"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Роли" />
                }
            </td>
            @*@{string userName = PageContext.Page.User.Identity.Name;
            string[] role = Roles.GetRolesForUser();}
        @{bool nullName = userName == ""; }*@
            @{bool nullName = PageContext.Page.User.Identity.Name == ""; }
            @if (nullName)
            {
                <td>
                    <div>
                        @Html.ActionLink("Войти", "Login", "Account", null,
                       new {@class = "btn btn-success btn-lg" })
                    </div>
                </td>
            }
            <td>
                @if (!nullName)
                {
                    <div class="navbar-text navbar-right">
                        <b class="hidden-xs"> Здравствуйте @PageContext.Page.User.Identity.Name!</b>
                    </div>
                }
            </td>
            <td>
                @if (nullName)
                {
                    <div>
                        @Html.ActionLink("Регистрация", "CreateUser", "Admin", null,
                                    new { @class = "btn btn-success btn-lg" })
                    </div>
                }
            </td>
            <td>
                @if (!nullName)
                {
                    using (Html.BeginForm("Logout", "Account"))
                    {
                        <input type="submit"
                               class="btn btn-success btn-lg"
                               value="Выйти" />
                    }
                }
            </td>
            <td>@Html.Action("Summary", "Cart")</td>
        </tr>
    </table>
</div>